.square {
    height: 50px;
    width: 50px;
    background-color: grey;
    margin: 1px;
    border-style: outset;
    border-color: rgba(68, 68, 68, 0.801);
}

.papyrus2{
    font-family: Papyrus, fantasy;
    color: rgb(0, 0, 199);
}

.header{
    font-family: Papyrus, fantasy;
    font-weight: bold;
    padding: 3px;
    margin-top: 4px;
    color: rgb(31, 117, 247);
}
.button {
    display: flex; 
    justify-content: center;
    position: relative;
    z-index: auto;
    font-family: Papyrus, fantasy;
}
body{
    background-image: url('https://pre00.deviantart.net/d73d/th/pre/f/2013/162/d/5/d5b7f0268a6c237ead9e9b60f1b3e4da-d68mrmo.png');
}

.dedRestartBtn {
    font-family: Papyrus, fantasy;

}
.btn-secondary {
    font-family: Papyrus, fantasy;
}
.modal-footer{
    background-color: blue;
}

.modal-body{
    background-color: dodgerblue;
}
.modalGifs {
    width: 457px;
}